<div class="row w-full">
  <h1 class="w-50">Demo</h1>
  <select class="w-50">
    <option *ngFor="let opt of options" (click)="selectGeneration(opt)">{{opt}}</option>
  </select>
</div>

<div class="row w-full" *ngIf="pokes$ | async as pokes; else loading">

  <app-pokemon-list [pokemons]="pokes" (selected)="selectedPokemon = $event" class="w-50 col" stlye="padding-right: 10px;"></app-pokemon-list>
  <div class="w-50 col">
    <app-pokemon-details *ngIf="selectedPokemon; else noPokemon" [pokemon]="selectedPokemon"></app-pokemon-details>
  </div>
</div>

<ng-template #noPokemon>
  <h1>No pokemon selected…</h1>
</ng-template>


<ng-template #loading>
  <span>⌛⌛⌛ Loading ⌛⌛⌛</span>
</ng-template>
